{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Main page') }}{% endblock %}

{% block extrahead %}

{% endblock %}

{% block branding %}
<h1 id="site-name"><div>{{ site_header|default:_('Main page') }}</div></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{{ 'Go to admin page' }}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}

{% block content %}
<h2>REST API implementation</h2>
<ul>
    <li><a href="/api/branches/branch">/api/branches/branch</a></li>
    <li><a href="/api/branches/employee">/api/branches/employee</a></li>
    <li><a href="/api/branches/employee/?branch__name=Berlin&ordering=position">/api/branches/employee/?branch__name=Berlin&ordering=position</a></li>
    <li><a href="/api/branches/closest_branch/?lat=42&lon=15">/api/branches/closest_branch/?lat=42&lon=15</a></li>
</ul>
{% endblock %}

{% block footer %}

{% endblock %}
